*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --text-color: #6a6a6a;
  --sub-text-color: #727272;
  --text-muted: #adadad;
  --button-bg: #f3f3f3;
  --button-bg-hover: #fefefe;
  --button-bg-focus: #f0f0f0;
  --border-color: #e2e2e2;
  --body-bg: #f4f4f4;
  --card-bg: #ffffff;
  --input-bg: #f8f8f8;
  --primary: #1473e7;
  --error: #8d2344;
  --element-height: 30px;
  --input-height: 36px;
  --container-width: 700px;
  --spacing: 1rem;
  --gutter: 2rem;
  --card-spacing-y: 0.8rem;
  --transition: all 0.3s;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--body-bg);
  color: var(--text-color);
  font-size: 100%;
  line-height: 1.4;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 550px;
}

a {
  cursor: pointer;
}

a:hover,
a:focus {
  color: var(--primary);
}

code {
  background-color: var(--button-bg);
  border: 1px solid var(--border-color);
  height: var(--element-height);
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  border-radius: 4px;
  font-size: 0.8rem;
  text-align: center;
  font-weight: 700;
  color: var(--text-color);
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.info-piece {
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--text-muted);
}

.list-wrapper {
  position: absolute;
  left: var(--spacing);
  right: var(--spacing);
  top: 130px;
  bottom: 0;
  z-index: 1;
  overflow: auto;
  min-height: 400px;
}

.w-100 {
  width: 100%;
}

.mr-10 {
  margin-right: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-5 {
  margin-top: 5px;
}

.tabsCheckbox {
  display: block;
  margin-top: 10px;
  font-size: 0.8rem;
  font-weight: 700;
}

.error-text {
  color: var(--error);
  font-size: 0.8rem;
  font-weight: 700;
}

.mw-60 {
  max-width: 60%;
}

.main-heading {
  margin-bottom: 10px;
}
